{{=<% %>=}}
{
  "name": <%{packageNameJson}%>,
  "version": "0.0.0",
  "type": "module",
  "main": "./src/index.ts",
  "module": "./src/index.ts",
  "types": "./src/index.ts",
  "exports": {
    ".": {
      "types": "./src/index.ts",
      "import": "./src/index.ts",
      "default": "./src/index.ts"
    }
  },
  "files": [
    "src",
    "README.md"
  ],
  "scripts": {
    "dev": "tsx src/index.ts",
    "build": "tsc --noEmit"
  },
  "devDependencies": {
    "tsx": "^4.20.0",
    "typescript": "^5.8.0"
  }
}
